<div class="verific">
  <form>
    <div class="input-field">
      <label for="email">
        <span class="email-part">victor.s.</span>
        <span class="email-hidden">sousa&#64;gmail.com</span>  <!-- &#64; = @ -->
        <i class="fa-regular fa-envelope" (click)="toggleEmailVisibility()"></i>
      </label>
      <input type="text" id="email" (input)="onEmailInput($event)" placeholder="Enter your email" />
    </div>

    <div class="input-field">
      <label for="password">
        <span class="password-part">{{ isPasswordVisible ? password : '●●●●●' }}</span>
        <i class="fas" [ngClass]="isPasswordVisible ? 'fa-solid fa-lock-open' : 'fa-solid fa-lock' " (click)="togglePasswordVisibility()"></i>
      </label>
      <input type="password" id="password" (input)="onPasswordInput($event)" placeholder="Enter your password" />
    </div>
  </form>
</div>
