<div class="footer">

	<div class="divider-sapn">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>

    <div class="info-footer">
        <div class="logo-ceara">
          <img src="assets/svg/logo-ceará.svg" alt="">
        </div>
        <div class="text">
          <h2>Sistema de Supervisão da Central 155</h2>
          <span>Densenvolvido pela Central 155</span>
        </div>
    </div>


	<!-- <div class="imgs">
		<img [src]="imgLogoSSC" alt="Logo">
		<div class="img-rodape">
			<img src="../../../assets/svg/mask-group-rodape-2.svg" alt="">
			<img src="../../../assets/svg/mask-group-rodape-1.svg" alt="">
			<img src="../../../assets/svg/mask-group-rodape.svg" alt="">
		</div>
	</div> -->

</div>
