<div class="line-1">
  <h1>#CONFIGURAÇÕES/ASSUNTOS/SUBASSUNTOS</h1>
  <hr>
</div>

<div class="form">
  <div class="min-header">
    <button class="btn">Novo Assunto</button>
    <h1>NOVO ASSUNTO/SUBASSUNTO</h1>
    <hr>
  </div>

  <div class="general-goal-container">
    @for (item of listAssunto; track $index) {
    <div class="item">

      <div class="item-header"  (click)="toggleDropdown(item, $event)">
        <span>{{ item.name }}</span>

        <i class="fa-solid fa-chevron-down" [class.active]="isDropdownVisible"></i>
      </div>

      <!-- @if (isDropdownVisible) { -->
      <div class="dropdown" id="test_{{item.id}}">

        <table>
          <thead>
            <tr>
              <th>SUBASSUNTO</th>
              <th>SITUAÇÃO</th>
              <th>EDITAR</th>
            </tr>
          </thead>
          <tbody>

            @for (itemsubassunto of listSubAssunto; track $index) {

            <tr>
              <td>{{itemsubassunto.name}}</td>
              <td>{{itemsubassunto.situacao}}</td>
              <td><i class="fa-solid fa-pen-to-square"></i></td>
            </tr>

          }
          </tbody>
        </table>
      </div>
    <!-- } -->
    </div>
  }
  </div>
</div>
