<div class="line-1">
  <h1>#CONFIGURAÇÕES/ASSUNTOS/SUBASSUNTOS</h1>
  <hr>
</div>

<div class="form">
  <div class="min-header">
    <button class="btn">Novo Assunto</button>
    <h1>NOVO ASSUNTO/SUBASSUNTO</h1>
    <hr>
  </div>

  <div class="general-goal-container">
    @for (item of listAssunto; track $index) {
    <div class="item">

      <div class="item-header"  (click)="toggleDropdown(item)">
        <span>{{ item.txt_assunto }}</span>

        <i class="fa-solid fa-chevron-down" [class.active]="item.isDropdownVisible"></i>
      </div>

      @if (item.isDropdownVisible) {
      <div class="dropdown" id="test_{{item.id_assunto}}" *ngIf="item.isDropdownVisible">

        <table>
          <thead>
            <tr>
              <th>SUBASSUNTO</th>
              <th>SITUAÇÃO</th>
              <th>EDITAR</th>
            </tr>
          </thead>
          <tbody>

            @for (item1 of listSubAssunto; track $index){
            <tr>
              <td>{{item1.name}}</td>
              <td>{{item1.situacao}}</td>
              <td class="btn-edit"><button id="form" (click)="onEditClick(item1)"><i class="fa-solid fa-pen-to-square"></i></button></td>
            </tr>
            @if (selectedSubAssunto && selectedSubAssunto.id == subAssunto) {
              <div>
                <form (ngSubmit)="onSubmit()" class="form">
                  <label for="name">Nome:</label>
                  <input type="text" id="name"  name="name" required>
                  <label for="situacao">Situação:</label>
                <input type="text" id="situacao" name="situacao" required>

                <button type="submit">Salvar</button>
                <button type="button" (click)="cancelEdit()">Cancelar</button>
                </form>
              </div>
            }
         }
          </tbody>
        </table>
      </div>
    }

    </div>
  }
  </div>
</div>
