h1{
  font-size: 24px;
}
hr{
  border-color:#aaa;
  box-sizing:border-box;
  height: 2px;
  width:100%;
}
.form{
  height: 1500px;
  box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  margin-top: 10px;
  width: min-content;

  .links{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    margin-top: 10px;
    background-color: #aaa;
    width: 970px;
    height: 55px;
    margin-left: 10px;
    border-radius: 10px;
  }
  .txt-link{
    border-radius: 4px;
    padding: 5px;
    margin-left: 5px;
    background-color: rgb(126, 114, 81);

  }
  .btn-ativo{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:20px;
    margin-left: 920px;
    display: flex;
    justify-content: center;
    width: 30px;
    border-radius: 50%;
  }

  hr{
    margin-top: 5px;
  }
  h1{
    height: min-content;
    width: 500px;
    top: -10px;
    margin-left: 5px;
    margin-top: -20px;
  }
  .min-header{
    background-color: #0deb4400;
  }
  .btn{
    height: 40px;
    width: 100px;
    background-color: rgba(68, 178, 110, 1);
    color: white;
    margin-left: 900px;
    margin-top: 5px;
    margin-block-end: -30px;
  }
}

.links{
  position: relative;
}

.tabs {
  height: 50px;
  padding: 5px;
  background-color: #df1f1f;
  border-radius: 10px;
  width: 600px;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.table{
  background-color: aquamarine;
  border: 2px solid rgb(0, 0, 0);
}
table tr td{
  border: 2px solid rgb(0, 0, 0);

}

