<div class="line-1">
  <h1>#CONFIGURAÇÕES/ASSUNTOS/SUBASSUNTOS</h1>
  <hr>
</div>

<div class="form">
  <div class="min-header">
    <button class="btn">Novo Assunto</button>
    <h1>NOVO ASSUNTO/SUBASSUNTO</h1>
    <hr>
  </div>

  <div class="general-goal-container">
    <div *ngFor="let item of listAssunto; let i = index" class="item">
      <div class="item-header" (click)="toggleDropdown(item)">
        <span>{{ item.txt_assunto }}</span>
        <i class="fa-solid fa-chevron-down" [class.active]="item.isDropdownVisible"></i>
      </div>

      <div class="dropdown" *ngIf="item.isDropdownVisible">
        <table>
          <thead>
            <tr>
              <th>SUBASSUNTO</th>
              <th>SITUAÇÃO</th>
              <th>EDITAR</th>
            </tr>
          </thead>
          <tbody>
            @for (sub of listSubAssunto; track sub.id_sub_assunto; let i = $index) {
              <tr>
                <td>{{ listSubAssunto[i].txtSubAssunto }}</td>
                <td>{{ sub.status_sub_assunto }}</td>
                <td class="btn-edit">
                  <button (click)="onEditClick(sub)">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                </td>
              </tr>
            }@empty {
              <span>Empty list of users</span>
              }
          </tbody>
        </table>

        <div *ngIf="selectedSubAssunto">
          <form (ngSubmit)="onSubmit()" class="form">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" [(ngModel)]="selectedSubAssunto.txtSubAssunto" required>

            <label for="situacao">Situação:</label>
            <input type="text" id="situacao" name="situacao" [(ngModel)]="selectedSubAssunto.status_sub_assunto" required>

            <button type="submit">Salvar</button>
            <button type="button" (click)="cancelEdit()">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
