h1{
  font-size: 24px;
}
hr{
  border-color:#aaa;
  box-sizing:border-box;
  height: 2px;
  width:100%;
}
.form{
  height: min-content;
  box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  margin-top: 10px;
  width: min-content;

  .links{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    margin-top: 10px;
    background-color: rgba(230, 227, 220, 1);
    width: 970px;
    height: 55px;
    margin-left: 10px;
    border-radius: 10px;
  }
  .txt-link{
    border-radius: 4px;
    padding: 5px;
    margin-left: 5px;
    font-size: 20px;
    //background-color: rgb(126, 114, 81);

  }
  .btn-ativo{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:20px;
    margin-left: 920px;
    display: flex;
    justify-content: center;
    width: 30px;
    border-radius: 50%;
  }

  hr{
    margin-top: 5px;
  }
  h1{
    height: min-content;
    width: 500px;
    top: -10px;
    margin-left: 5px;
    margin-top: -20px;
  }
  .min-header{
    background-color: #0deb4400;
  }
  .btn{
    height: 40px;
    width: 100px;
    background-color: rgba(68, 178, 110, 1);
    color: white;
    margin-left: 900px;
    margin-top: 5px;
    margin-block-end: -30px;
  }
  .btn:hover{
    background-color: rgba(22, 97, 51, 0.76);
  }

}

.links{
  position: relative;
}

table{
  border-collapse:collapse;
  align-items: center;
  margin-top: 20px;
  margin-left: 50px;
  width: 900px;
  height:  min-content;
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }


  th {
    background-color: #f9f9f9;
  }

  tr{
    background-color: #f9f9f9;
  }
}



.general-goal-container {

  .item {
    margin-bottom: 10px;

    .item-header {
      height: 50px;
      font-size: 20px;
      display: flex;
      margin-top: 5px;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 10px;
      background-color: rgba(230, 227, 220, 1);
      border: 1px solid #ccc;
      border-radius: 5px;

      i {
        margin-right: 8px;
        align-content: space-around;
        align-items: center;
        margin-left: 15px;

      }
    }

    .dropdown {
      height: auto;
      max-height: 400px;
      overflow-y: auto;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: rgba(230, 227, 220, 1);



      .dropdown-item {
        padding: 8px 10px;
        cursor: pointer;
      }
    }
  }
}

