.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  min-height: 100%;
  background-color: rgba(44, 64, 63, 1);


  .info-page h1{
    font-size: 28px;
    margin-left: 15px;
    color: #ffffff;
  }
  .info-user{
    padding: 0 20px;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 15px;

    img{
      width: 60px;
      border: 1px solid #ffffff;
      border-radius: 50%;
    }
    .informacoes-perfil p:nth-child(1){
      color: rgba(151, 158, 176, 1);
  }
  .informacoes-perfil p:nth-child(2){
    color: rgba(191, 193, 198, 1);
}


  }

}
