.form{
  background-color: rgba(244, 243, 240, 1);
  vertical-align:middle;
  margin-top: 16px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  margin-top: 15px;
  border-radius: 10px;
  height: 227px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.377);
  width: 1010px;

}
h1{
  font-size: 24px;
}
hr{
  border-color:#aaa;
  box-sizing:border-box;
  height: 2px;
  width:100%;
}
.line-2{

  height: 1px;
  width: 100%;
  border-color: black;
}
.title-text{
  font-size: 18px;
}
label{
  margin-left: 10px;
}
.field-area-1{
  ::placeholder {
    color: rgb(0, 0, 0);
  }
  display: flex;
  width: 100%;
  height: 50%;
  gap: 10px;
}
.field-1{
  margin-left: 5px;
  input{width: 500px;}
  font-size: 20px;
  align-items: center;
  flex-direction: column;

}
.field-area-2{

  width: 100%;
  height: 50%;
  float: left;
  display: flex;
}
h2{
  font-size: 20px;
  margin-top: 5px;
  margin-left: 15px;
  height: min-content;
}
.btn{
  height: 40px;
  width: 150px;
  margin-inline: 8px;
  margin-top: 35px;


  }
  .btn:nth-of-type(1) {
    background-color: rgba(0, 122, 255, 1);
    color: white;
    margin-left: 20px;
  }

  .btn:nth-of-type(2) {
    background-color: rgba(219, 54, 68, 1);
    color: white;
  }
  .btn-1{
    height: 40px;
    width: 200px;
    background-color: rgba(68, 178, 110, 1);
    color: white;
    margin-top: 35px;
    margin-left: 430px;
  }

  *{
    box-sizing:border-box;
    }

    .box{
      width: 300px;
      margin-top: 24px;
      margin-left: -105px;
      margin-right: -10px;

      ::placeholder {
        opacity: 0;
        visibility: hidden;
        color: transparent;
      }
    }

    .demo-field{
        margin-bottom: 1.25rem;
        position: relative;
        display: flex;
        margin-left: 175px;

      }

      ::placeholder{
        top: -5px;
      }

     input{
        display: flex;
        width: 160px;
        padding: 0.75rem 0.75rem;
        font-size: 15px;
        margin: 10px;
        background-color: rgba(230, 227, 220, 1);
        border: 1px solid #000000;
      }

    .floating-label {
        position: absolute;
        left: 10px;
        top: 20px;
        padding: 2px 3px;
        transition: all 0.3s ease;
        cursor: text;
        border-radius: 4px;
    }
    input:focus ~ .floating-label {
        top: -13px;
        left: 10px;
        transition: all 0.2s ease-in-out;
        background: rgba(230, 227, 220, 1);
    }
    .demo-field .demo-input:not(:placeholder-shown).demo-input:not(:focus) ~ .floating-label {
        top: -13px;
        left: 10px;
        background: rgba(230, 227, 220, 1);
        transition: all 0.2s ease-in-out;
    }
