<div class="linha">
  <h1>#GERAR NOVO SUBASSUNTO</h1>
  <hr>
</div>


<div class="form">

  <div class="field-area-1">


      <div class="field-2">
          <label class="title-text">Subassuntos:</label><br>
          <input type="text" placeholder="Insira o nome Assunto">
      </div>



  </div>
      <hr class="line">
  <div class="field-area-2">

    <div class="field-checkbox">
      <h2>Situação:</h2>
      <div class="field-chek">
    <div><input type="radio"><label class="text">Ativo</label></div>
    <div><input type="radio"><label class="text">Inativo</label></div>
    </div>

      <button class="btn"><i class="fa-solid fa-magnifying-glass"></i> Pesquisar</button>
      <button class="btn"><i class="fa-regular fa-circle-xmark"></i> Cancelar</button>
      <button class="btn-1">Nova Assunto</button>
  </div>
</div>
